<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hsj.com.service_action">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".service.MyService"></service>

        <service android:name=".service.MyService_binder"></service>

        <service android:name=".service.MySerice_Thread"></service>

        <service android:name=".service.MyService_Front"></service>

        <!--http://blog.csdn.net/guolin_blog/article/details/9797169 另外的app程序调用action方式-->
        <!--加：和不加：还是有区别。加：表示会创建一个私有的进程；-->
        <!--直接小写字母开头表示全局进程。-->
        <!--http://developer.android.com/guide/topics/manifest/service-element.html-->
        <!--If the name assigned to this attribute begins with a colon (':'), a new process, private to the application, is created when it's needed and the service runs in that process. If the process name begins with a lowercase character, the service will run in a global process of that name, provided that it has permission to do so. This allows components in different applications to share a process, reducing resource usage.-->
        <service android:name=".service.MyService_Remote" android:process=":remote">
            <intent-filter>
                <action android:name="hsj.com.service_action.MyAIDLService"/>
                <!--<category android:name="hsj.com.service_action.MyAIDLService.category"></category>-->
            </intent-filter>
        </service>
    </application>

</manifest>