<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.activitytest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
<!--第一个Activity  android:label="This is FirstActivity"这个会导致app名称变成这个-->
        <!--android:launchMode="standard"  这个是默认的模式，每次启动创建一个activity，只要启动就创建，实例>1
            android:launchMode="singleTop" 当栈顶是该activity的时候，不用创建，实例>1
            android:launchMode="singleTask" 改activity实例只会存在一个，没有就创建一个在栈顶，否则就该activity上面的所有activity出栈，自己成为栈顶，，实例=1

           android:launchMode="singleInstance" 一个新的返回栈管理该activity，多个应用程序可以共享该活动实例，实例=1
        -->
        <activity
            android:name=".FirstActivity"
            android:label="This is FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!--第二个Activity-->
        <activity
            android:name=".SecondActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="com.example.activitytest.ACTION_START" />
                <!--程序里面默认或添加这个android.intent.category.DEFAULT-->
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.example.activitytest.MY_CATEGORY" />
            </intent-filter>
        </activity>
<!--第三Activity-->
        <activity android:name=".ThirdActivity">
            <intent-filter>
                <!--会像浏览器一样被选中的标识,会响应浏览器action-->
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <!--支持http-->
                <data android:scheme="http" />
            </intent-filter>
        </activity>

    </application>

</manifest>